@using BudgetMate.ViewModels
@model TotalTransactionsViewModel

<link rel="stylesheet" href="~/css/home.css">

<div class="container px-4">
    <div class="row gx-5">
        <div class="col balanceSummary">
            <div class="infoCard">
                <div class="d-flex justify-content-between">
                    <h3>Saldo Total:</h3>
                    <select id="balanceSelection">
                        <option value="month">Este mes</option>
                        <option value="week">Esta semana</option>
                    </select>
                </div> 
                <p>@(Model.totalIncome - @Model.totalExpense)</p>
                <div id="monthBalance">
                    <h3>Saldo Mensual: </h3>
                    <p>@(Model.monthIncome - Model.monthExpense)</p>
                </div>
                <div id="weekBalance" style="display:none">
                    <h3>Saldo Semanal: </h3>
                    <p>@(Model.weekIncome - Model.weekExpense)</p>
                </div>
            </div>
        </div>
        <div class="col balanceSummary">
            <div class="infoCard" id="monthIncomeExpense">
                <div class="d-flex justify-content-between">
                    <h3 class="monthIncomeExpense">Ingreso Mensual:</h3>
                    <h3 class="weekIncomeExpense">Ingreso Semanal:</h3>
                    <select id="incomeExpenseSelection">
                        <option value="month">Este mes</option>
                        <option value="week">Esta semana</option>
                    </select>
                </div>
                <div class="monthIncomeExpense">
                    <p>@Model.monthIncome</p>
                    <h3>Gasto Mensual:</h3>
                    <p>@Model.monthExpense</p>
                </div>
                <div class="weekIncomeExpense">
                    <p>@Model.weekIncome</p>
                    <h3>Gasto Semanal:</h3>
                    <p>@Model.weekExpense</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="infoCard">
                <div class="d-flex justify-content-between">
                    <h3>Progreso de ahorro:</h3>
                    <select id="savingLimitSelection">
                        <option value="month">Este mes</option>
                        <option value="week">Esta semana</option>
                    </select>
                </div>
                <div class="progress-container">
                    <div id="progressBar" class="progress-bar"></div>
                </div>
                <div id="monthProgress" data-exists="@Model.monthLimit.HasValue">
                    @{
                        if (Model.monthLimit.HasValue) {
                            <div class="d-flex justify-content-between">
                                <p id="monthExpense">@Model.monthExpense</p>
                                <p id="monthLimit">@Model.monthLimit</p>
                            </div>
                        } else {
                            <p>No hay un límite de ahorro mensual establecido</p>
                        }
                    }
                </div>
                <div id="weekProgress" style="display:none" data-exists="@Model.weekLimit.HasValue">
                    @{
                        if (Model.weekLimit.HasValue)
                        {
                            <div class="d-flex justify-content-between">
                                <p id="weekExpense">@Model.weekExpense</p>
                                <p id="weekLimit">@Model.weekLimit</p>
                            </div>
                        }
                        else
                        {
                            <p>No hay un límite de ahorro semanal establecido</p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div>
        @{
            if (Model.lastMoneyTransactions.Count > 0)
            {
                <div class="row">
                    <h3>Últimas transacciones:</h3>
                </div>
                <table class="col-12">
                    <thead>
                        <tr>
                            <th class="col-1">Fecha</th>
                            <th class="col-1">Tipo</th>
                            <th class="col-2">Categoría</th>
                            <th class="col-1">Monto</th>
                            <th class="col-7">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var transaction in Model.lastMoneyTransactions)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => transaction.TransactionDate)</td>
                                    @{
                                        if (transaction.IsIncome)
                                        {
                                            <td>Ingreso</td>
                                        }
                                        else
                                        {
                                            <td>Gasto</td>
                                        }
                                    }
                                    <td>@Html.DisplayFor(m => transaction.Category.CategoryName)</td>
                                    <td>@Html.DisplayFor(m => transaction.Amount)</td>
                                    <td>@Html.DisplayFor(m => transaction.TransactionDescription)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        }
    </div>
</div>

<script src="~/js/home.js"></script>