@model List<MoneyTransaction>

@{
    var categories = new List<Category>();
    foreach (var transiction in Model)
    {
        if (!categories.Contains(transiction.Category))
        {
            categories.Add(transiction.Category);
        }
    }
}

<style>
    body{
        background-color: #D9D9D9;
    }

    .drop{
        background-color: #BCBCBC;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

</style>

<div class="container px-4">
    <h1>Transacciones</h1>
    <div class="row">
        <div>
            <div class="d-flex w-100 justify-content-between">
                <p class="col-2">Buscar:</p>
                <div class="col-10">
                    <Select id="searchSelect" class="form-select">
                        <option disabled selected value="none">Seleccionar filtro</option>
                        <option value="amount">Monto</option>
                        <option value="date">Fechas</option>
                        <option value="category">Categoría</option>
                    </Select>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-7 d-flex">
                    <div id="dateInput" style="display: none">
                        <div class="m-1">
                            <p>Desde:</p>
                            <input type="date">
                        </div>
                        <div class="m-1">
                            <p>Hasta:</p>
                            <input type="date">
                        </div>
                    </div>
                    <div id="amountInput" style="display: none" class="m-1">
                        <p>Ingrese monto: </p>
                        <input type="number" min="0" placeholder="...">
                    </div>
                    <div id="categoryInput" style="display:none">
                        <p>Seleccione la categoría</p>
                        <select class="form-select">
                            @foreach (var category in categories)
                            {
                                <option>@category.CategoryName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="d-flex col-5 justify-content-between">
                    <button id="cleanFilters" style="display:none" class="col-4">Limpiar</button>
                    <button style="display:none" id="searchButton" class="col-7">Buscar</button>
                </div>
            </div>
            
        </div>
    </div>
    <details class="drop mt-5">
        <summary>Ingresos</summary>
        <div class="d-flex justify-content-end">
            <button>Añadir ingreso</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Monto</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Categoría</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in Model)
                {
                    if (transaction.IsIncome) {
                        <tr>
                            <td>@Html.DisplayFor(m => transaction.Amount)</td>
                            <td>@Html.DisplayFor(m => transaction.TransactionDate)</td>
                            <td>@Html.DisplayFor(m => transaction.TransactionDescription)</td>
                            <td>@Html.DisplayFor(m => transaction.Category.CategoryName)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </details>
    <details class="drop mt-5">
        <summary>Gastos</summary>
        <div class="d-flex justify-content-end">
            <button>Añadir gasto</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Monto</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Categoría</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in Model)
                {
                    if (!transaction.IsIncome)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => transaction.Amount)</td>
                            <td>@Html.DisplayFor(m => transaction.TransactionDate)</td>
                            <td>@Html.DisplayFor(m => transaction.TransactionDescription)</td>
                            <td>@Html.DisplayFor(m => transaction.Category.CategoryName)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </details>
</div>

<script src="~/js/transaction.js"></script>
 