@using BudgetMate.ViewModels
@model ConfigurationViewModel

<link rel="stylesheet" href="~/css/configuration.css">

<div>
    <h1>Configuración</h1>
    <div class="d-flex justify-content-center">
        <div id="savingLimit" class="infoCard w-75" data-recentPeriod="@TempData["Period"]">
            <div class="row">
                <div id="monthLimitDisplay">
                    @{
                        if (Model.monthSavingLimit == null)
                        {
                            <div class="row">
                                <div class="col-6">
                                    <p>Parece que no tienes un límite de ahorro mensual establecido</p>
                                    <p>¿Por qué no agregas uno?</p>
                                </div>
                                <div class="col-6">
                                    <select class="limitPeriod form-select-sm w-100">
                                        <option value="month" select>Mensual</option>
                                        <option value="week">Semanal</option>
                                    </select>
                                    <div class="d-flex justify-content-end">
                                        <button data-bs-toggle="modal" data-bs-target="#postLimit" data-actionType="add" data-period="Mensual">Agregar Límite</button>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="textLimit">Ahorro mensual establecido:</p>
                                        <p class="showLimit"><span>@Model.monthExpense</span>/<span id="monthLimit">@Model.monthSavingLimit.Amount</span></p>
                                    </div>
                                    <div class="col-6">
                                        <select class="limitPeriod form-select-sm w-100">
                                            <option value="month" select>Mensual</option>
                                            <option value="week">Semanal</option>
                                        </select>
                                        <div class="d-flex justify-content-between">
                                            <button data-bs-toggle="modal" data-bs-target="#postLimit" data-actionType="change" data-period="Mensual" data-limitId="@Model.monthSavingLimit.SavingLimitId">Cambiar Límite</button>
                                            <form id="deleteLimitForm" action="/Configuration/Delete" method="post">
                                                <input name="eraseLimitId" type="hidden" value="@Model.monthSavingLimit.SavingLimitId">
                                                <button>Eliminar Límite</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div id="weekLimitDisplay" style="display:none">
                    @{
                        if (Model.weekSavingLimit == null)
                        {
                            <div class="row">
                                <div class="col-6">
                                    <p>Parece que no tienes un límite de ahorro semanal establecido</p>
                                    <p>¿Por qué no agregas uno?</p>
                                </div>
                                <div class="col-6">
                                    <select class="limitPeriod form-select-sm w-100">
                                        <option value="month">Mensual</option>
                                        <option value="week" select>Semanal</option>
                                    </select>
                                    <div class="d-flex justify-content-end">
                                        <button data-bs-toggle="modal" data-bs-target="#postLimit" data-actionType="add" data-period="Semanal">Agregar Límite</button>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div>
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        <p class="textLimit">Ahorro semanal establecido:</p>
                                        <p class="showLimit"><span>@Model.weekExpense</span>/<span id="weekLimit">@Model.weekSavingLimit.Amount</span></p>
                                    </div>
                                    <div class="col-6">
                                        <select class="limitPeriod form-select-sm w-100">
                                            <option value="month">Mensual</option>
                                            <option value="week" select>Semanal</option>
                                        </select>
                                        <div class="d-flex justify-content-between">
                                            <button data-bs-toggle="modal" data-bs-target="#postLimit" data-actionType="change" data-period="Semanal" data-limitId="@Model.weekSavingLimit.SavingLimitId">Cambiar Límite</button>
                                            <form id="deleteLimitForm" action="/Configuration/Delete" method="post">
                                                <input name="eraseLimitId" type="hidden" value="@Model.weekSavingLimit.SavingLimitId">
                                                <button>Eliminar Límite</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <div id="postLimit" class="modal fade">
        <div class="modal-dialog-centered modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="addLimitForm" method="post">
                        <div class="row">
                            <div class="col-5">
                                <label for="periodValue">Periodo:</label>
                                <input id="periodValue" name="periodValue" class="modalInput" type="text" readonly>
                            </div>
                            <div class="col-5">
                                <label for="limitAmount">Límite de ahorro:</label>
                                <input id="limitAmount" name="limitAmount" class="modalInput" type="number" min="0">
                            </div>
                            <input id="limitId" name="limitId" type="hidden">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal">Cancelar</button>
                    <button id="addLimitButton" type="button">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="text-danger">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
        }
    </div>
</div>

<script src="~/js/configuration.js"></script>